@font-face {
  src: url("../font/SVN-Avo.ttf");
  font-family: SVN Avo;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SVN Avo;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

button,
button:is(:hover, :focus) {
  outline: none;
  box-shadow: none;
}

ul,
li {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

input,
input:hover,
input:focus {
  outline: none;
}
input::-moz-placeholder, input:hover::-moz-placeholder, input:focus::-moz-placeholder {
  color: #99b0bc;
}
input::placeholder,
input:hover::placeholder,
input:focus::placeholder {
  color: #99b0bc;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}
textarea::-moz-placeholder {
  color: #99b0bc;
}
textarea::placeholder {
  color: #99b0bc;
}

.color_orange {
  color: #eda018;
}

header {
  height: 75px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  z-index: 999;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  padding: 0 4rem;
  display: flex;
  align-items: center;
}
header .navbar {
  width: 100%;
  height: 100%;
}
header .navbar .navbar-brand {
  height: 75px;
  padding: 15px 0;
}
header .navbar .navbar-brand img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0 2rem;
}
header .navbar .collapse .navbar-nav .nav-item .nav-link:hover, header .navbar .collapse .navbar-nav .nav-item .nav-link.active {
  color: #eda018;
}
header .navbar form .ungDung-button {
  background-color: transparent;
  color: #eda018;
  border: 1px solid #fff;
  border-radius: 5rem;
  padding: 0.5rem 4rem;
  font-weight: bold;
  font-size: 2rem;
}
header .navbar form .ungDung-button:hover {
  background-color: #eda018;
  color: #fff;
  border-color: #eda018;
}

.banner {
  width: 100%;
  border: 2rem solid #eda018;
}
.banner .carousel .carousel-indicators {
  position: relative;
  margin: 4rem auto;
}
.banner .carousel .carousel-indicators [data-bs-target] {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 100%;
  margin: 0 1.5rem;
  opacity: 1;
}
.banner .carousel .carousel-indicators .active {
  background-color: #eda018;
}
.banner .carousel .carousel-inner img {
  width: 100%;
  height: calc(100vh - 4rem);
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .carousel .carousel-inner .carousel-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  right: unset;
  transform: translateY(-25%);
  text-align: center;
}
.banner .carousel .carousel-inner .carousel-caption h3 {
  font-weight: bold;
  font-size: calc(2rem + 1.5vw);
  color: #eda018;
  text-transform: uppercase;
}
.banner .carousel .carousel-inner .carousel-caption P {
  font-weight: bold;
  font-size: calc(1rem + 1vw);
  color: #fff;
  text-transform: capitalize;
}
.banner .carousel .carousel-inner .carousel-caption .khamPha-button {
  display: inline-block;
  padding: 0.5rem 4rem;
  background-color: #eda018;
  color: #fff;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  border-radius: 5rem;
  text-transform: capitalize;
}

main {
  width: 100%;
}
main .title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
}
main .title strong {
  color: #eda018;
}
main .title .dots-wrapper i {
  font-size: 2rem;
  color: #eda018;
}
main .title .dots-wrapper i:nth-child(2) {
  color: #313131;
}
main .content {
  font-size: 2rem;
}
main .index-aboutUs {
  width: 100%;
  padding: 2rem 4rem;
  border-left: 2rem solid #eda018;
  border-right: 2rem solid #eda018;
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-between;
}
main .index-aboutUs .img-wrapper {
  position: relative;
}
main .index-aboutUs .img-wrapper img {
  transform: translateY(-12rem);
}