@charset "UTF-8";
.fs-18 {
  font-size: 1.8rem;
}

@font-face {
  src: url("../font/SVN-Avo.ttf");
  font-family: SVN Avo;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SVN Avo;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

button,
button:is(:hover, :focus) {
  outline: none;
  box-shadow: none;
}

ul,
li {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

input,
input:hover,
input:focus {
  outline: none;
}
input::-moz-placeholder, input:hover::-moz-placeholder, input:focus::-moz-placeholder {
  color: #99b0bc;
  font-style: italic;
}
input::placeholder,
input:hover::placeholder,
input:focus::placeholder {
  color: #99b0bc;
  font-style: italic;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}
textarea::-moz-placeholder {
  color: #99b0bc;
  font-style: italic;
}
textarea::placeholder {
  color: #99b0bc;
  font-style: italic;
}

.color_orange {
  color: #eda018;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
}
.title strong {
  color: #eda018;
}
.title .dots-wrapper {
  margin: 1rem 0 3rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title .dots-wrapper i {
  font-size: 2rem;
  color: #eda018;
}
.title .dots-wrapper i:nth-child(2) {
  color: #313131;
}

.content {
  font-size: 2rem;
}

@media (max-width: 1023px) {
  .title {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    font-size: 2rem;
  }
  .title strong {
    color: #eda018;
  }
  .title .dots-wrapper {
    margin: 1rem 0 3rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .title .dots-wrapper i {
    font-size: 1rem;
    color: #eda018;
  }
  .title .dots-wrapper i:nth-child(2) {
    color: #313131;
  }
  .content {
    font-size: 1.4rem;
  }
}
header {
  height: 75px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  z-index: 999;
  padding: 0 4rem;
  display: flex;
  align-items: center;
}
header.header-top {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
}
header .navbar {
  width: 100%;
  height: 100%;
}
header .navbar .navbar-brand {
  height: 75px;
  padding: 15px 0;
}
header .navbar .navbar-brand img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0 2rem;
}
header .navbar .collapse .navbar-nav .nav-item .nav-link:hover, header .navbar .collapse .navbar-nav .nav-item .nav-link.active {
  color: #eda018;
}
header .navbar form .ungDung-button {
  background-color: transparent;
  color: #eda018;
  border: 1px solid #fff;
  border-radius: 5rem;
  padding: 0.5rem 4rem;
  font-weight: bold;
  font-size: 2rem;
}
header .navbar form .ungDung-button:hover {
  background-color: #eda018;
  color: #fff;
  border-color: #eda018;
}

.menu {
  height: 75px;
  padding: 0 4rem;
  background-color: #000;
  border-left: 2rem solid #eda018;
  border-right: 2rem solid #eda018;
}
.menu .navbar {
  height: 100%;
  align-items: center;
  font-size: 2rem;
}
.menu .navbar .danhMuc-button .dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .navbar .danhMuc-button .dropdown-toggle::after {
  display: none;
}
.menu .navbar .danhMuc-button .dropdown-toggle i {
  color: #eda018;
  font-size: 4rem;
}
.menu .navbar .danhMuc-button .dropdown-toggle strong {
  margin-left: 1rem;
}
.menu .navbar .danhMuc-button .dropdown-menu {
  background-color: #e9e1df;
  border-radius: 1rem;
  padding: 1rem 0;
}
.menu .navbar .danhMuc-button .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 1rem;
  border: solid transparent;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #e9e1df transparent;
}
.menu .navbar .danhMuc-button .dropdown-menu a {
  width: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #313131;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.menu .navbar .danhMuc-button .dropdown-menu a img {
  height: 2.4rem;
  margin-right: 0.5rem;
}
.menu .navbar .danhMuc-button .dropdown-menu a span {
  flex: 1;
}
.menu .navbar .danhMuc-button .dropdown-menu a:hover {
  background-color: #99b0bc;
}
.menu .navbar form {
  width: 20vw;
  height: 45px;
  border: 1px solid #eda018;
  border-radius: 1rem;
}
.menu .navbar form button[type=submit] {
  background-color: transparent;
  border: none;
  color: #eda018;
  padding: 0 1rem;
  border-radius: 1rem;
}
.menu .navbar form button[type=submit] i {
  transform: rotateY(180deg);
  font-size: 2.4rem;
}
.menu .navbar form input {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  padding: 0 1rem;
  color: #fff;
}
.menu .navbar form input::-moz-placeholder {
  font-style: italic;
  color: #fff;
}
.menu .navbar form input::placeholder {
  font-style: italic;
  color: #fff;
}
.menu .navbar .navbar-nav {
  flex-direction: row;
  gap: 3rem;
}
.menu .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
.menu .navbar .navbar-nav .nav-item .nav-link i {
  color: #eda018;
  margin-right: 0.5rem;
}
.menu .navbar .navbar-nav .nav-item .nav-link i.fa-cart-shopping {
  font-size: 4rem;
}
.menu .navbar .navbar-nav .dropdown .dropdown-toggle::after {
  display: none;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  font-size: 1.6rem;
  background-color: #e9e1df;
  border-radius: 1rem;
  padding: 1rem 0;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 1rem;
  border: solid transparent;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #e9e1df transparent;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.dropdown-menu-start {
  right: 0;
  left: unset;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.ngonNgu-menu img {
  height: 2rem;
  margin-right: 0.5rem;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.ngonNgu-menu .dropdown-item:hover {
  background-color: #99b0bc;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu {
  width: -moz-max-content;
  width: max-content;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu a {
  color: #313131;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .dropdown-items {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 3rem 2rem auto;
  grid-gap: 1rem;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .dropdown-items.dropdown--items {
  grid-template-columns: 3rem auto auto;
  grid-gap: 1rem;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .checkbox .check-input {
  display: none;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .checkbox .check-label {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #eda018;
  border-radius: 0.5rem;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .checkbox .check-label img {
  display: none;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .checkbox .check-input:checked ~ .check-label img {
  display: block;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .content {
  font-size: 1.6rem;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .content strong {
  width: -moz-max-content;
  width: max-content;
  display: block;
  border-radius: 5rem;
  padding: 0.3rem 2rem;
  background-color: #eda018;
  text-align: center;
  font-size: 1.4rem;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .w-100.d-flex {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 3rem auto;
  grid-gap: 1rem;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .w-100.d-flex button {
  background-color: transparent;
  border: none;
}
.menu .navbar .navbar-nav .dropdown .dropdown-menu.shoppingCart-menu .w-100.d-flex button img {
  width: 3rem;
}

@media (max-width: 1023px) {
  header {
    padding: 0;
  }
  header .navbar .navbar-brand {
    max-width: 70%;
  }
  header .navbar .navbar-toggler {
    color: #eda018;
    font-size: 4rem;
    padding: 0;
  }
  header .navbar .navbar-toggler:hover, header .navbar .navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
  header .navbar .collapse {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
  header .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #313131;
    padding: 0.5rem 2rem;
  }
  header .navbar form {
    padding: 0 2rem;
  }
  header .navbar form .ungDung-button {
    border: 1px solid #eda018;
  }
}
#footer {
  background-color: #343434;
  color: #fff;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#footer ul li {
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
#footer ul li a {
  display: flex;
  align-items: center;
}
#footer ul li i {
  width: 2rem;
  color: #eda018;
}
#footer ul li span {
  color: #fff;
}
#footer .footer_outlink {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#footer .footer_outlink a {
  font-size: 2.4rem;
  color: #eda018;
}

.banner {
  width: 100%;
  border: 2rem solid #eda018;
}
.banner .carousel .carousel-indicators {
  position: relative;
  margin: 4rem auto;
}
.banner .carousel .carousel-indicators [data-bs-target] {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 100%;
  margin: 0 1.5rem;
  opacity: 1;
}
.banner .carousel .carousel-indicators .active {
  background-color: #eda018;
}
.banner .carousel .carousel-inner img {
  width: 100%;
  height: calc(100vh - 4rem);
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .carousel .carousel-inner .carousel-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  right: unset;
  transform: translateY(-25%);
  text-align: center;
}
.banner .carousel .carousel-inner .carousel-caption h3 {
  font-weight: bold;
  font-size: calc(2rem + 1.5vw);
  color: #eda018;
  text-transform: uppercase;
}
.banner .carousel .carousel-inner .carousel-caption P {
  font-weight: bold;
  font-size: calc(1rem + 1vw);
  color: #fff;
  text-transform: capitalize;
}
.banner .carousel .carousel-inner .carousel-caption .khamPha-button {
  display: inline-block;
  padding: 0.5rem 4rem;
  background-color: #eda018;
  color: #fff;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  border-radius: 5rem;
  text-transform: capitalize;
}

@media (max-width: 1023px) {
  .banner .carousel .carousel-indicators {
    margin: 2rem auto;
  }
  .banner .carousel .carousel-inner img {
    height: calc(50vh - 4rem);
  }
  .banner .carousel .carousel-inner .carousel-caption h3 {
    font-size: calc(2rem + 1vw);
  }
  .banner .carousel .carousel-inner .carousel-caption P {
    font-size: calc(1rem + 0.5vw);
  }
  .banner .carousel .carousel-inner .carousel-caption .khamPha-button {
    font-size: calc(1rem + 0.5vw);
  }
}
main {
  width: 100%;
}
main .index-aboutUs {
  width: 100%;
  padding: 2rem 4rem 0 4rem;
  border-left: 2rem solid #eda018;
  border-right: 2rem solid #eda018;
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-between;
}
main .index-aboutUs .img-wrapper {
  position: relative;
}
main .index-aboutUs .img-wrapper img {
  transform: translateY(-12rem);
}
main .whyChooseUs .title {
  width: 100%;
  border-left: 2rem solid #eda018;
  border-right: 2rem solid #eda018;
}
main .whyChooseUs .whyChooseUs-wrapper {
  padding: 0 0 0 4rem;
  display: grid;
  grid-template-columns: 30% 60%;
  justify-content: space-between;
  align-items: center;
}
main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content {
  position: relative;
  background-color: #eda018;
  padding: 2rem 6rem 2rem 2rem;
}
main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content::before {
  content: "";
  width: 2rem;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #313131;
}
main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content ul li {
  position: relative;
}
main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content ul li h2 {
  font-size: 3rem;
}
main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content ul li::before {
  content: "\f0da";
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-weight: 900;
  font-size: 4rem;
  color: #313131;
  position: absolute;
  left: 0;
  top: -5px;
  transform: translateX(-7rem);
}
main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content ul li::after {
  content: "\f0da";
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-weight: 900;
  font-size: 4rem;
  color: #eda018;
  position: absolute;
  left: 0;
  top: -5px;
  transform: translateX(-5rem);
}
main .index-service .index-service-wrapper {
  padding: 4rem;
  background-image: url("./../img/IMAGE 4.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  justify-content: center;
  grid-column-gap: 10vw;
}
main .index-service .index-service-wrapper .service-wrapper .img-wrapper {
  width: 100%;
}
main .index-service .index-service-wrapper .service-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem 0 2rem 0;
}
main .index-service .index-service-wrapper .service-wrapper p {
  width: -moz-max-content;
  width: max-content;
  border-left: 10px solid #eda018;
  padding-left: 2rem;
  font-size: 2rem;
  color: #313131;
}
main .index-service .xemThem-btn {
  width: -moz-max-content;
  width: max-content;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  color: #fff;
  background-color: #eda018;
  grid-column: 1/-1;
  font-size: 2rem;
}
main .mobileApp .mobileApp-wrapper {
  background-image: url("./../img/IMAGE NỀN ỨNG DỤNG.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
main .mobileApp .mobileApp-content img {
  width: 65%;
  margin-bottom: 2rem;
}
main .mobileApp .mobileApp-content ul li {
  display: grid;
  grid-template-columns: 5rem auto;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
main .mobileApp .mobileApp-content ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .mobileApp .mobileApp-content ul li i {
  color: #eda018;
  text-align: right;
}
main .mobileApp .mobileApp-content ul li p {
  margin-bottom: 0;
}
main .mobileApp .mobileApp-content a {
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: #eda018;
  color: #fff;
  border-radius: 5rem;
}
main .dichVu {
  padding: 2rem 4rem;
  border-left: 2rem solid #eda018;
  border-right: 2rem solid #eda018;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
main .dichVu img {
  margin-top: -12rem;
  width: 30%;
}
main .dichVu .content {
  flex: 1;
}
main .dichVu-1 {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
main .dichVu-1 img {
  margin-top: -12rem;
  width: 30%;
}
main .dichVu-1 .content {
  flex: 1;
}
main .dichVu-1 .content .list_content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}
main .dichVu-1 .content .list_content .list_content-item {
  display: flex;
  align-items: center;
}
main .dichVu-1 .content .list_content .list_content-item i {
  font-size: 4rem;
  flex-basis: 2rem;
}
main .dichVu-1 .content .list_content .list_content-item i.color_orange {
  margin-right: 2rem;
}
main .dichVu-1 .content .list_content .list_content-item span {
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
}
main .service-grid {
  width: 100%;
  padding: 4rem 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5vw;
  grid-column-gap: 10vw;
}
main .service-grid .service-item {
  text-transform: capitalize;
  font-size: 2rem;
}
main .service-grid .service-item h4 {
  font-size: 2.4rem;
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  border-left: 10px solid #eda018;
  padding: 0 2rem;
}
main .service-grid .service-item button {
  background-color: #eda018;
  border-radius: 5rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border: none;
}
main .list_choose_service .service-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 3rem auto;
  grid-gap: 1rem;
}
main .list_choose_service .service-wrapper .checkbox {
  cursor: pointer;
}
main .list_choose_service .service-wrapper .checkbox .check-input {
  display: none;
}
main .list_choose_service .service-wrapper .checkbox .check-label {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #eda018;
  border-radius: 0.5rem;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .list_choose_service .service-wrapper .checkbox .check-label img {
  display: none;
  cursor: pointer;
}
main .list_choose_service .service-wrapper .checkbox .check-input:checked ~ .check-label img {
  display: block;
}
main .list_choose_service .service-wrapper .service-item {
  text-transform: capitalize;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .list_choose_service .service-wrapper .service-item h4 {
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  border-left: 10px solid #eda018;
  padding: 0 2rem;
}
main .list_choose_service .service-wrapper .service-item button {
  background-color: #eda018;
  border-radius: 5rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1.6rem;
}
main .form-datLich {
  padding: 2rem 6rem;
}
main .form-datLich .form {
  padding: 1rem;
  border: 1px solid #eda018;
  border-radius: 1rem;
}
main .form-datLich .form .form-title {
  font-size: 2.4rem;
  margin-bottom: 0;
}
main .form-datLich .form .form-title img {
  height: 3rem;
}
main .form-datLich .form .form-row {
  width: 100%;
  display: grid;
  grid-template-columns: 35% auto;
  grid-gap: 2rem;
  margin-bottom: 1rem;
}
main .form-datLich .form .form-row label {
  font-size: 1.8rem;
}
main .form-datLich .form .form-row input {
  width: 100%;
  border: 1px solid #eda018;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem;
}
main .form-datLich .form .form-row input::-moz-placeholder {
  font-style: italic;
}
main .form-datLich .form .form-row input::placeholder {
  font-style: italic;
}
main .form-datLich .form .icon-datLich {
  position: relative;
  text-align: center;
}
main .form-datLich .form .icon-datLich label {
  z-index: 1;
  position: relative;
}
main .form-datLich .form .icon-datLich label img {
  width: 7rem;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .form-datLich .form .icon-datLich input {
  width: 7rem;
  height: 7rem;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border: none;
  background-color: transparent;
  color: transparent;
}
main .form-datLich .form .button {
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  border: none;
  background-color: #eda018;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
}
main .news {
  padding: 2rem 6rem;
}
main .news .card {
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #313131;
}
main .news .card .card-img-top {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
main .news .card .card-title {
  font-weight: bold;
  font-size: 2.4rem;
  color: #313131;
}
main .news .card .card-time {
  color: #99b0bc;
  font-size: 1.4rem;
  font-style: italic;
}
main .news .card .card-content {
  height: 6rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  color: #313131;
}
main .news .card:hover {
  border: 1px solid #eda018;
}
main .news .card:hover .card-title {
  color: #eda018;
  transition: color 0.7s;
}
main .news-detail {
  padding: 2rem 6rem;
  font-size: 1.6rem;
  color: #313131;
}
main .news-detail-head {
  font-weight: bold;
  font-size: 3rem;
}
main .news-detail-time {
  font-weight: bold;
  color: #eda018;
}
main .news-detail-title {
  font-weight: bold;
  font-size: 2rem;
}
main .news-detail-shortContent {
  font-weight: bold;
}
main .news-detail-img {
  width: 86%;
  display: block;
  margin: 1rem auto;
}
main .news-detail-imgContent {
  font-weight: bold;
  color: #eda018;
  text-align: center;
}
main .news-detail-writeBy {
  margin: 2rem 0;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  color: #eda018;
}
main .news-carousel {
  padding: 2rem 6rem;
}
main .news-carousel .card {
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #313131;
}
main .news-carousel .card .card-img-top {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
main .news-carousel .card .card-title {
  font-weight: bold;
  font-size: 2.4rem;
  color: #313131;
}
main .news-carousel .card .card-time {
  color: #99b0bc;
  font-size: 1.4rem;
  font-style: italic;
}
main .news-carousel .card .card-content {
  height: 6rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  color: #313131;
}
main .news-carousel .card:hover {
  border: 1px solid #eda018;
}
main .news-carousel .card:hover .card-title {
  color: #eda018;
  transition: color 0.7s;
}
main .contact {
  width: 100%;
  padding: 2rem 6rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 2rem;
  justify-content: space-between;
}
main .contact .contact-wrapper {
  position: relative;
}
main .contact .contact-wrapper.contact-left {
  margin-top: -12rem;
}
main .contact .contact-wrapper.contact-left .title {
  font-size: 3rem;
}
main .contact .contact-wrapper.contact-left p {
  font-size: 2rem;
}
main .contact .contact-wrapper.contact-left p a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #313131;
  color: #eda018;
  font-weight: bold;
}
main .contact .contact-wrapper.contact-left p a img {
  height: 2.4rem;
}
main .contact .contact-wrapper.contact-right .contact-form {
  width: 100%;
}
main .contact .contact-wrapper.contact-right .contact-form .form-row {
  width: 100%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 20rem auto;
  grid-gap: 2rem 1rem;
}
main .contact .contact-wrapper.contact-right .contact-form .form-row .form-label {
  padding-top: 0.3rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: right;
}
main .contact .contact-wrapper.contact-right .contact-form .form-row .form-label span {
  color: #eda018;
}
main .contact .contact-wrapper.contact-right .contact-form .form-row .form-input,
main .contact .contact-wrapper.contact-right .contact-form .form-row .form-textarea {
  flex: 1;
  width: 100%;
  min-width: none;
  height: 4rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: 2px solid #eda018;
}
main .contact .contact-wrapper.contact-right .contact-form .form-row .form-textarea {
  height: 12rem;
}
main .contact .contact-wrapper.contact-right .contact-form .button {
  color: #313131;
  background-color: #eda018;
  padding: 0.5rem 4rem;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

@media (max-width: 1023px) {
  main .index-aboutUs {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  main .index-aboutUs .img-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: -12rem;
  }
  main .index-aboutUs .img-wrapper img {
    transform: translateY(0);
  }
  main .whyChooseUs .title .col-12.col-lg-6 {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  main .whyChooseUs .whyChooseUs-wrapper {
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main .whyChooseUs .whyChooseUs-wrapper .img-wrapper {
    width: 50%;
    margin: 0 auto;
  }
  main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content {
    margin-left: 6rem;
  }
  main .whyChooseUs .whyChooseUs-wrapper .whyChooseUs-content ul li h2 {
    font-size: 1.8rem;
  }
  main .index-service .index-service-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  main .index-service .index-service-wrapper .service-wrapper {
    width: 20rem;
  }
  main .index-service .index-service-wrapper .service-wrapper p {
    font-size: 1.6rem;
  }
  main .index-service .index-service-wrapper .xemThem-btn {
    flex: unset;
    min-width: 50%;
    font-size: 1.6rem;
  }
  main .mobileApp .mobileApp-wrapper {
    background-position: top;
    background-size: contain;
  }
  main .mobileApp .mobileApp-content img {
    width: 65%;
    margin-bottom: 2rem;
  }
  main .mobileApp .mobileApp-content a {
    margin: 0 1rem;
  }
}