.banner {
    width: 100%;
    border: $default_border solid $color_orange;

    .carousel {
        .carousel-indicators {
            position: relative;
            margin: 4rem auto;

            [data-bs-target] {
                width: 2rem;
                height: 2rem;
                background-color: $color_white;
                border-radius: 100%;
                margin: 0 1.5rem;
                opacity: 1;
            }

            .active {
                background-color: $color_orange;
            }
        }

        .carousel-inner {
            img {
                width: 100%;
                height: calc(100vh - 4rem);
                object-fit: cover;
            }

            .carousel-caption {
                position: absolute;
                top: 50%;
                left: 10%;
                right: unset;
                transform: translateY(-25%);
                text-align: center;

                h3 {
                    font-weight: bold;
                    font-size: calc(2rem + 1.5vw);
                    color: $color_orange;
                    text-transform: uppercase;
                }

                P {
                    font-weight: bold;
                    font-size: calc(1rem + 1vw);
                    color: $color_white;
                    text-transform: capitalize;
                }

                .khamPha-button {
                    display: inline-block;
                    padding: 0.5rem 4rem;
                    background-color: $color_orange;
                    color: $color_white;
                    font-size: calc(1rem + 1vw);
                    font-weight: bold;
                    border-radius: 5rem;
                    text-transform: capitalize;
                }
            }
        }
    }
}

@media (max-width:1023px) {
    .banner {
        .carousel {
            .carousel-indicators {
                margin: 2rem auto;
            }
    
            .carousel-inner {
                img {
                    height: calc(50vh - 4rem);
                }
    
                .carousel-caption {
                    h3 {
                        font-size: calc(2rem + 1vw);
                    }
    
                    P {
                        font-size: calc(1rem + 0.5vw);
                    }
    
                    .khamPha-button {
                        font-size: calc(1rem + 0.5vw);
                    }
                }
            }
        }
    }
}