#footer {
    background-color: #343434;
    color: $color_white;
    padding: 2rem $default_paddingX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    ul {
        li {
            color: $color_white;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            a {
                display: flex;
                align-items: center;
            }

            i {
                width: 2rem;
                color: $color_orange;
            }

            span {
                color: $color_white;
            }
        }
    }

    .footer_outlink {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            font-size: 2.4rem;
            color: $color_orange;
        }
    }
}

@media (max-width:1023px) {
    #footer {
        .wrapper {
            width: 100%;
            justify-content: center;
        }

        ul {
            width: 100%;

            li {
                a {
                    align-items: flex-start;
                }

                i {
                    margin-right: 0.5rem;
                    padding-top: 0.3rem;
                }

                span {
                    flex: 1;
                }
            }
        }

    }
}

@media (max-width:540px) {
    #footer {
        flex-direction: column;
    }
}