header {
    height: $header_height;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    z-index: 999;
    padding: 0 $default_paddingX;
    display: flex;
    align-items: center;

    .navbar {
        width: 100%;
        height: 100%;

        .navbar-brand {
            height: $header_height;
            padding: 15px 0;

            img {
                height: 100%;
                width: auto;
                object-fit: contain;
            }
        }

        .collapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $color_white;
                        font-weight: bold;
                        font-size: 2rem;
                        text-transform: capitalize;
                        padding: 0 2rem;

                        &:hover,
                        &.active {
                            color: $color_orange;
                        }
                    }
                }
            }
        }

        form {
            .ungDung-button {
                background-color: transparent;
                color: $color_orange;
                border: 1px solid $color_white;
                border-radius: 5rem;
                padding: 0.5rem $default_paddingX;
                font-weight: bold;
                font-size: 2rem;

                &:hover {
                    background-color: $color_orange;
                    color: $color_white;
                    border-color: $color_orange;
                }
            }
        }
    }
}

.menu {
    height: $header_height;
    padding: 0 $default_paddingX;
    background-color: #000;
    border-left: $default_border solid $color_orange;
    border-right: $default_border solid $color_orange;

    .navbar {
        height: 100%;
        align-items: center;
        font-size: 2rem;

        .danhMuc-button {
            .dropdown-toggle {
                color: $color_white;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    display: none;
                }

                i {
                    color: $color_orange;
                    font-size: 4rem;
                }

                strong {
                    margin-left: 1rem;
                }
            }
        }

        form {
            width: 20vw;
            height: 45px;
            border: 1px solid $color_orange;
            border-radius: 1rem;

            button[type=submit] {
                background-color: transparent;
                border: none;
                color: $color_orange;
                padding: 0 1rem;
                border-radius: 1rem;

                i {
                    transform: rotateY(180deg);
                    font-size: 2.4rem;
                }
            }

            input {
                background-color: transparent;
                border: none;
                border-radius: 1rem;
                padding: 0 1rem;

                &::placeholder {
                    font-style: italic;
                    color: $color_white;
                }
            }
        }

        .navbar-nav {
            flex-direction: row;
            gap: 3rem;

            .nav-item {
                .nav-link {
                    color: $color_white;
                    text-transform: capitalize;
                    cursor: pointer;

                    i {
                        color: $color_orange;
                        margin-right: 0.5rem;

                        &.fa-cart-shopping {
                            font-size: 4rem;
                        }
                    }
                }
            }

            .dropdown {
                .dropdown-toggle {
                    position: relative;

                    &::after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    width: max-content;
                    position: absolute;
                    font-size: 2rem;

                    img {
                        &.language {
                            height: 2rem;
                            margin-right: 0.5rem;
                        }
                    }

                    &.dropdown-menu-start {
                        right: 0;
                        left: unset;
                    }
                }
            }
        }
    }
}