main {
    width: 100%;

    .index-aboutUs {
        width: 100%;
        padding: 2rem $default_paddingX 0 $default_paddingX;
        border-left: 2rem solid $color_orange;
        border-right: 2rem solid $color_orange;
        display: grid;
        grid-template-columns: 60% 30%;
        justify-content: space-between;

        .img-wrapper {
            position: relative;

            img {
                transform: translateY(-12rem);
            }
        }
    }

    .whyChooseUs {
        .title {
            width: 100%;
            border-left: $default_border solid $color_orange;
            border-right: $default_border solid $color_orange;
        }

        .whyChooseUs-wrapper {
            padding: 0 0 0 4rem;
            display: grid;
            grid-template-columns: 30% 60%;
            justify-content: space-between;
            align-items: center;

            .whyChooseUs-content {
                position: relative;
                background-color: $color_orange;
                padding: 2rem calc(4rem + $default_border) 2rem 2rem;

                &::before {
                    content: '';
                    width: $default_border;
                    height: 50%;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background-color: $color_primary;
                }

                ul {
                    li {
                        position: relative;

                        h2 {
                            font-size: 3rem;
                        }

                        &::before {
                            content: "\f0da";
                            font-family: "Font Awesome 6 Free";
                            -webkit-font-smoothing: antialiased;
                            display: var(--fa-display, inline-block);
                            font-style: normal;
                            font-variant: normal;
                            line-height: 1;
                            text-rendering: auto;
                            font-weight: 900;
                            font-size: 4rem;
                            color: $color_primary;
                            position: absolute;
                            left: 0;
                            top: -5px;
                            transform: translateX(-7rem);
                        }

                        &::after {
                            content: "\f0da";
                            font-family: "Font Awesome 6 Free";
                            -webkit-font-smoothing: antialiased;
                            display: var(--fa-display, inline-block);
                            font-style: normal;
                            font-variant: normal;
                            line-height: 1;
                            text-rendering: auto;
                            font-weight: 900;
                            font-size: 4rem;
                            color: $color_orange;
                            position: absolute;
                            left: 0;
                            top: -5px;
                            transform: translateX(-5rem);
                        }
                    }
                }
            }
        }
    }

    .index-service {
        .index-service-wrapper {
            padding: $default_paddingX;
            background-image: url('./../img/IMAGE 4.png');
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: repeat(2, 40rem);
            justify-content: center;
            grid-column-gap: 10vw;

            .service-wrapper {
                .img-wrapper {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 2rem 0 2rem 0;
                    }
                }

                p {
                    width: max-content;
                    border-left: 10px solid $color_orange;
                    padding-left: 2rem;
                    font-size: 2rem;
                    color: $color_primary;
                }
            }
        }

        .xemThem-btn {
            width: max-content;
            margin-top: 4rem;
            margin-bottom: 4rem;
            padding: 0.5rem 2rem;
            border-radius: 5rem;
            color: $color_white;
            background-color: $color_orange;
            grid-column: 1 / -1;
            font-size: 2rem;
        }
    }

    .mobileApp {
        .mobileApp-wrapper {
            background-image: url('./../img/IMAGE NỀN ỨNG DỤNG.png');
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .mobileApp-content {
            img {
                width: 65%;
                margin-bottom: 2rem;
            }

            ul {
                li {
                    display: grid;
                    grid-template-columns: 5rem auto;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 0.5rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    i {
                        color: $color_orange;
                        text-align: right;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            a {
                padding: 0.5rem 2rem;
                text-align: center;
                background-color: $color_orange;
                color: $color_white;
                border-radius: 5rem;
            }
        }
    }

    .dichVu {
        padding: 2rem $default_paddingX;
        border-left: $default_border solid $color_orange;
        border-right: $default_border solid $color_orange;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        img {
            margin-top: -12rem;
            width: 30%;
        }

        .content {
            flex: 1;
        }
    }

    .dichVu-1 {
        padding: 2rem calc($default_paddingX + $default_border);
        display: flex;
        justify-content: space-between;
        gap: 4rem;

        img {
            margin-top: -12rem;
            width: 30%;
        }

        .content {
            flex: 1;

            .list_content {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: stretch;

                .list_content-item {
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 4rem;
                        flex-basis: 2rem;

                        &.color_orange {
                            margin-right: 2rem;
                        }
                    }

                    span {
                        font-weight: bold;
                        text-transform: capitalize;
                        font-style: italic;
                    }
                }
            }
        }
    }

    .service-grid {
        width: 100%;
        padding: $default_paddingX calc($default_paddingX + $default_border);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 5vw;
        grid-column-gap: 10vw;

        .service-item {
            text-transform: capitalize;
            font-size: 2rem;

            h4 {
                font-size: 2.4rem;
                margin: 1rem 0 2rem 0;
                font-weight: bold;
                border-left: 10px solid $color_orange;
                padding: 0 2rem;
            }

            button {
                background-color: $color_orange;
                border-radius: 5rem;
                font-weight: bold;
                padding: 0.5rem 2rem;
                border: none;
            }
        }
    }
}